
<md-card class="login-box">
  <md-toolbar>My App Login</md-toolbar>
  <md-card-content style="padding: 10px">
    <form (submit)="loginUser($event)">
      <md-form-field class="input-full-width">

        <input type="text" mdInput placeholder="User Name">
      </md-form-field>
      <br>
      <md-form-field class="input-full-width">

        <input type="password" mdInput placeholder="Password">
      </md-form-field>

      <button type="submit" md-raised-button color="primary" class="input-full-width">Login</button>
    </form>
  </md-card-content>
</md-card>
