
  <div class="mat-elevation-z8">
    <md-form-field floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter users">
    </md-form-field>




    <md-table #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <!-- ID Column -->
      <ng-container mdColumnDef="name">
        <md-header-cell *mdHeaderCellDef > Name
        </md-header-cell>
        <md-cell *mdCellDef="let row" ><a [routerLink]="['/product-details', row.ext]">{{row.name}}</a></md-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container mdColumnDef="position">
        <md-header-cell *mdHeaderCellDef> Position </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.position}}</md-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container mdColumnDef="office">
        <md-header-cell *mdHeaderCellDef>office </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.office}} </md-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container mdColumnDef="ext">
        <md-header-cell *mdHeaderCellDef> ext </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.ext}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="startDate">
        <md-header-cell *mdHeaderCellDef> startDate </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.startDate}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="salary">
        <md-header-cell *mdHeaderCellDef> salary </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.salary}} </md-cell>
      </ng-container>

      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>

    <md-paginator #paginator
                  [length]="exampleDatabase.data.length"
                  [pageIndex]="0"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>
  </div>
