
$my-theme-primary: mat-palette($mat-green);
$my-theme-accent: mat-palette($mat-grey, A200);
$my-theme-warn: mat-palette($mat-orange);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
