<md-icon svgIcon="thumbs-up"></md-icon>
<md-card>
  <button md-raised-button color="primary">Primary</button>
  <button md-raised-button color="accent">Accent</button>
  <button md-raised-button color="warn">Warn</button>
</md-card>
<br>
<md-card>
  <div>
    <amte-table></amte-table>
  </div>
</md-card>
<div class="card-container">
<md-card class="">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">

    </canvas>

    <button (click)="randomize()">Update</button>

</md-card>
<md-card>

    <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</md-card>

</div>
