<md-icon svgIcon="thumbs-up"></md-icon>
<md-card>
  <button md-raised-button color="primary">Primary</button>
  <button md-raised-button color="accent">Accent</button>
  <button md-raised-button color="warn">Warn</button>
</md-card>
<br>
<md-card>
  <div class="mat-elevation-z8">
    <div class="example-header">

    </div>

    <md-table #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- ID Column -->
      <ng-container mdColumnDef="userId">
        <md-header-cell *mdHeaderCellDef> ID<br>
          <input name="id" >
        </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.id}} </md-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container mdColumnDef="progress">
        <md-header-cell *mdHeaderCellDef> Progress </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.progress}}% </md-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container mdColumnDef="userName">
        <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
        <md-form-field floatPlaceholder="never">
          <input mdInput #filter placeholder="Filter users">
        </md-form-field>
        <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container mdColumnDef="color">
        <md-header-cell *mdHeaderCellDef> Color </md-header-cell>
        <md-cell *mdCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
      </ng-container>

      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
    <!--<md-table #table [dataSource]="dataSource">-->
      <!--<ng-container mdColumnDef="userId">-->
        <!--<md-header-cell *mdHeaderCellDef >-->
          <!--ID-->
          <!--<md-form-field floatPlaceholder="never">-->
            <!--<input mdInput #filter placeholder="Filter ID">-->
          <!--</md-form-field>-->
        <!--</md-header-cell>-->
        <!--<md-cell *mdCellDef="let row"> {{row.id}} </md-cell>-->
      <!--</ng-container>-->

      <!--<ng-container mdColumnDef="progress">-->
        <!--<md-header-cell *mdHeaderCellDef>-->
          <!--Progress-->
          <!--<md-form-field floatPlaceholder="never">-->
            <!--<input mdInput #filter placeholder="Filter progress">-->
          <!--</md-form-field>-->
        <!--</md-header-cell>-->
        <!--<md-cell *mdCellDef="let row"> {{row.progress}}% </md-cell>-->
      <!--</ng-container>-->

      <!--<ng-container mdColumnDef="userName">-->
        <!--<md-header-cell *mdHeaderCellDef>-->
          <!--Name-->
          <!--<md-form-field floatPlaceholder="never">-->
            <!--<input mdInput #filter placeholder="Filter users">-->
          <!--</md-form-field>-->
        <!--</md-header-cell>-->
        <!--<md-cell *mdCellDef="let row"> {{row.name}} </md-cell>-->
      <!--</ng-container>-->


      <!--<ng-container mdColumnDef="color">-->
        <!--<md-header-cell *mdHeaderCellDef>-->
          <!--Color-->
          <!--<md-form-field floatPlaceholder="never">-->
            <!--<input mdInput #filter placeholder="Filter color">-->
          <!--</md-form-field>-->
        <!--</md-header-cell>-->
        <!--<md-cell *mdCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>-->
      <!--</ng-container>-->

      <!--<md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>-->
      <!--<md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>-->
    <!--</md-table>-->

    <md-paginator #paginator
                  [length]="exampleDatabase.data.length"
                  [pageIndex]="0"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>
  </div>
</md-card>




<div class="card-container">
<md-card class="">

    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">

    </canvas>

    <button (click)="randomize()">Update</button>

</md-card>
<md-card>

    <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</md-card>

</div>
